
footer {
    width: 100%;
    background-color: #f7f7f7;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-1 {
    width: 75%;
    display: flex;
    column-gap: 35px;
    margin-top: 20px;
}

.lists {
    width: 12%;
    row-gap: 30px;
    display: flex;
    flex-direction: column;
}

.lists h1 {
    font-size: 1.4rem;
    font-weight: 400;
}

.ul-lists {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.ul-lists li {
    color: gray;
    font-size: 1.2rem;
    cursor: pointer;
}

.ul-lists li:hover {
    color: black;
}

#hr-2 {
    width: 80%;
    height: 1px;
    opacity: 40%;
    background-color: gray;
    margin-top: 40px;
}

#footer-2 {
    width: 75%;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#footer-2-div {
    width: 287px;
    display: flex;
    flex-direction: column;
}

#footer-2-lists {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

#footer-2-lists li {
    color: rgb(29, 29, 29);
    font-size: 1.2rem;
    font-weight: 400;
    cursor: pointer;
}

#footer-2-lists li:hover {
    text-decoration: underline;
}

#icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

#icons svg {
    cursor: pointer;
    width: 32px;
    height: 32px;
    fill: currentColor;
}

#footer-2-div p {
    color: gray;
    font-size: 1rem;
    margin-top: 10px;
}
.footer-line{
    width: 80%;
    height: 1px solid gray;
    background: none;

}
#hr-div{
    width: 100%;
    height: 1px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
