/* global styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    list-style: none;
}
a{
    color: #0b583e;
}
a:hover{
    text-decoration: none;
}
main,#main-container,#personal-information,#account-security,
#div-2-texts,.check-box-div,#term-of-use{
    display: flex;
}
main,#main-container,#personal-information,#account-security,
#div-2-texts,#term-of-use{
    flex-direction: column;
}
main,#main-container{
    align-items: center;
}
#personal-information{
    justify-content: space-between;
}
/* local styles */

#header svg{
    width: 65px;
    height: 65px;
}
main{
    width: 100%;
}
#main-container{
    width: 38%;
    height: fit-content;
    border-radius: 30px;
}
#main-title{
    margin-top: 50px;
}
article{
    width: 85%;
    height: fit-content;
    margin-top: 50px;
}
article h2{
    font-size: 1.2rem ;
    text-align: center;
}
article p{
    font-size: 1rem;
    text-align: center;
    margin-top: 20px;
}
form{
    margin-top: 50px;
    padding: 40px 80px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}
#personal-information{
    width: 100%;
    height: 200px;
    margin-top: 20px;
}
#personal-information h1{
    font-size: 1.4rem;
}
input{
    width: 100%;
    height: 50px;
    border-radius: 7px;
    font-size: 1.4rem;
    border:1px solid rgb(70, 65, 65);
}
input::placeholder{
    font-size: 1.2rem;
    color: black;
    transform: translateX(10px);
    font-weight: 520;
}
#account-security{
    width: 100%;
    height: 300px;
    margin-top: 20px;
    gap: 30px;
}
#account-security p{
    font-size: 1.1rem;
}
#middle-link{
    display: block;
    margin-top: 50px;
    font-size: 1.4rem;
    color: #0b583e;
}
#div-2-texts{
    width: 100%;
    height: fit-content;
    gap: 20px;
    margin-top: 50px;
}
#div-2-texts h1{
    color: rgb(79, 77, 77);
    font-size: 1.3rem;
}
.check-box-div label{
    font-size: 1rem;
    margin-left: 20px;
}
.check-box-div label a{
    color: #0b583e;
}
#checkbox-1{
    width: 20px;
    height: 20px;
}
#checkbox-2{
    width: 50px;
    height: 50px;
}
#div-2-texts span{
    margin-left: 32px;
    font-size: 1.1rem;
}
.check-box-div{
    width: 100%;
    height:fit-content;
}
#term-of-use h1{
    font-size: 1.3rem;
    color: rgb(79, 77, 77);
}
#term-of-use{
    margin-top: 50px;
    width: 100%;
    height: fit-content;
    row-gap: 20px;
}
button{
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background: #0b583e;
    border: none;
    color: white;
    font-size: 1.2rem;
    margin-left: 200px;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 2px 6px 6px  rgba(0, 0, 0, 0.242);
}
button:hover{
    background-color: #0b583ee5;
}
button:active{
    scale: 0.9;
    transition: 0.3s ease;
}
footer{
    margin-top: 80px;
}